.host {
  position: relative;
  display: flex;

  justify-content: center;
  --size-step: 10px;
  --center: 12;
  --left: 0px;
  width: 100%;
  height: 500px;

  contain: strict;
}

.input {
  width: 100%;
}

.square {
  --size: 20px;
  bootm: 0;
  position: absolute;
  display: block;
  width: var(--size);
  height: var(--amount);
  transform: translate(calc(var(--index) * (var(--left) + var(--size-step))));
  transition-property: transform, border-color;
  transition-duration: 5s;
  transition-timing-function: ease-in-out;
  background: white;
  border: 1px solid black;
  box-sizing: border-box;
  will-change: transform, border-color;
  contain: strict;
}

.pride .square:nth-child(n) {
  background: #130202;
}

.pride .square:nth-child(2n) {
  background: #919191;
}
