/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #f0f0f0;
  --box-color: #7ec236;
  --dark-background: rgba(50, 50, 50, 0.5);
}

body {
  background: var(--background-color);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    sans-serif;
  margin: 0;
  background-color: rgba(238, 238, 238, 0.486);
}

.default-hr {
  mask-image: linear-gradient(to right, transparent, black, transparent);
  width: 100%;
}

.section.dark {
  background: var(--dark-background);
}

.page {
  width: 96vw;
  margin: 0 auto;
  overflow: hidden;
}
